extends ../layout


block content
  div.container
    h1 Welcome to Canary Bot!
    p.
      prepare to be amazed!
    button(id="create-connection").btn.btn-primary Create Connections

    div#videoHolder
      video(id="selfView", autoPlay="true")
      video(id="remoteView", autoPlay="true")



block scripts
  script(src="https://cdn.socket.io/socket.io-1.2.0.js")
  script(src="/static/js/app.js")
  //script(src="/static/js/webrtc.js")
